
body {
    margin: 0;
    font-family: 'Source Sans Pro';
}
a{
    text-decoration: none;
    color: rgb(85, 114, 234);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 46, 79);
    padding: 8px 12px;
    
}
.navbar_logo{
    font-size: 24px;
    color: rgb(85, 114, 234);
}

.navbar_logo i {
    color: rgb(234, 240, 86);
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar_menu li {
    padding: 8px 12px;
}
.navbar_menu li:hover {
    background-color: silver;
    border-radius: 4px;
}

.navbar_icons{
    list-style: none;
    color: rgb(85, 114, 234);
    display: flex;
    padding-left: 0;
}

.navbar_icons li{
    padding: 8px 12px;
}

.navbar_toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: rgb(85, 114, 234);
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        /* display: none;  */
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

     .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_icons {
        /* display: none;  */
        justify-content: center;
        width: 100%;
    }

    .navbar_toogleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active{
        display: flex;
    } 
}