html{
    box-sizing: border-box;
    height: 100%
    
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Niramit','Noto Sans KR',sans-serif;
    background-color: black;
    animation-name: intro1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

  @keyframes intro1{
      0%{
          opacity : 0;
      }
      100%{
          opacity : 1;
      }
  }
.top{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-size: xx-large;
}

.grid_container1{
    background-color: rgb(0, 0, 0);
    display: grid; 
    border: 10px solid rgba(black, .1);
    grid-template-columns: auto auto auto auto auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top:10px;
    padding-bottom: 100px;
    text-align: center;
}

.grid_container1>*{
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid_container1>*:hover{
    box-shadow: 1px 1px 20px #ddd;
}

.card{
    background-color: rgb(32,32,32);
    grid-column: 1 / 4;
}

#card1{
    background-color: rgb(23, 99, 149);
}

#card2{
    background-color: rgb(158, 158, 158);
}

#card3{
    background-color: rgb(119, 115, 115);
}

#card4{
    background-color: rgb(39, 139, 204);
}

#card5{
    background-color: rgb(89, 174, 230);
}

#card6{
    background-color: rgb(94, 94, 94);
}

#card7{
    background-color: rgb(57, 138, 191);
}

#card8{
    background-color: rgb(32, 32, 32);
}

#card9{
    background-color: rgb(44, 44, 44);
}

#card10{
    background-color: rgb(133, 133, 133);
}

#card11{
    background-color: rgb(12, 12, 12);
}

#card12{
    background-color: rgb(22, 22, 22);
}

#card13{
    background-color: rgb(65, 63, 63);
}

#card14{
    background-color: rgb(57, 88, 136);
}

#card15{
    background-color: rgb(22, 22, 22);
}

#card16{
    background-color: rgba(92, 196, 236, 0.712);
}

#card17{
    background-color: rgb(66, 65, 65);
}

#card18{
    background-color: rgb(57, 138, 191);
}

#card19{
    background-color: rgb(22, 22, 22);
}

.card20{
    background-color: rgb(23, 99, 149);
    grid-column:3 /6 ;
}

.footer{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Niramit';
    /* width: 100%; */
    height: auto;
    background: rgba(74, 166, 241, 0.253);
    color: rgb(249,244,227);
}
/* ---------------modal------------------- */
.hidden {
    display: none;
}
/* The Modal (background) */
.modal {
     /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    align-items: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  @media only screen and (max-width:900px){
      .grid_container1{
          display: block;
      }
    }